/* 
    Document   : control.css
    Created on : Jan 27, 2013, 1:30:11 PM
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}

