

.root {
     -fx-background-image: url("/com/bbt/irs/resources/images/whitehexagons.jpg");
}

#loginId{
    -fx-background-image: url("/com/bbt/irs/resources/images/whitehexagons.jpg");
}
#mainId{
    -fx-background-color: radial-gradient( #060, #54C571);
}
.tabpane{
    -fx-background-image: url("/com/bbt/irs/resources/images/background.jpg");
}
.tab{
    -fx-font-size: 1.25em;
  /* -fx-background-color: linear-gradient( #060, #360);*/
   -fx-text-fill: white;
}
.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
#gridLogin  .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


#tabAdminSetup,#scroll,#sigcroll,#fingerscroll,#photoscroll,#grid4Contact,#workInfoGrid,#spouseGrid,#dependantGrid,#Indu,#grid,#gridPanecss,#workinfogrid,#contactgrid,#othergrid {
  
  -fx-background-image: url('/com/bbt/irs/resources/images/background3.jpg');
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-attachment: fixed;
}
.label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
/*.tab{
   -fx-background-image: url('background.jpg'); 
}*/
#welcome-text {
   /*-fx-font-size: 18px;*/
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:#096912/*linear-gradient( #00CC33, #009900)*/; 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font: 13px "Serif";
     -fx-padding: 10;   
}
.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}
.button:hover {
   -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#fingerprintframe{
    -fx-border-style: solid;
    -fx-border-color: grey;
    -fx-border-width: 1;
    -fx-background-color:white;
}

#photo_image{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: black;
}

#captured_image{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
#workInfoTab {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient (#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font: 13px "Serif";
     -fx-padding: 10;   
}
/*.tab:hover {
    -fx-background-color: linear-gradient( #060, #360);
}*/
